body{
	margin: 0px;
}
h1,p{
	display: none;
}
h3{
	color: green;
	font: 0.75rem/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif; 
	padding-left: 8px;
	border-bottom: 1px green solid;
	width: 1130px;
}
dl{
	margin: 0px;
}
dt{
	float: left;
	margin: 6px 8px;
}
a{
	color: #000;
	text-decoration: none;
	font: 0.75rem/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif; 
}
a:hover{
	color: green;
}