html,body{
	width: 100%;
	height: 100%;
}
body{
	font: 0.75rem/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
	background-color: rgba(143,181,158,.8);
	margin: 0;
}
#layout{
	width: 1170px;
	height: 100%;
	background-color: rgba(240,243,244,1);
	margin: 0 auto;
}
header{
	height: 50px;
	background-color: #7266ba;
	position: fixed;
	top: 0;
	width: 1170px;
	z-index: 100;
}
header #home{
	float: left;
	display: inline-block;
	width: 200px;
	height: 100%;
	border: 1px orange solid;
}
#home a{
	display: inline-block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	text-align: center;
}
#home a i{
	font-size: 1.25rem;
	color: #FFF;
	line-height: 50px;
}
#home a span{
	font-size: 1rem;
	color: #FFF;
}
header #header_container{
	border: 1px red solid;
	height: 100%;
	margin-left: 200px;
}
#header_container #header_btn{
	float: left;
	height: 100%;
	width: 88px;
	margin-left: 15px;
	border: 1px #FFF solid;
}
#header_btn #header_aside-btn{
	display: inline-block;
	width: 44px;
	height: 100%;
	float: left;
}
#header_btn #header_user-btn{
	display: inline-block;
	width: 44px;
	height: 100%;
	float: left;
}
#header_aside-btn i{
	font-size: 0.87rem;
	color: #FFF;
	line-height: 50px;
	text-align: center;
	display: inline-block;
	width: 100%;
}
#header_user-btn i{
	font-size: 0.87rem;
	color: #FFF;
	line-height: 50px;
	text-align: center;
	display: inline-block;
	width: 100%;
}
#header_container #header_search{
	float: left;
	height: 100%;
	width: 170px;
	margin-left: 15px;
	border: 1px #FFF solid;
}
#header_search form{
	height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#header_search form #header_search-content{
	width: 137px;
	height: 30px;
	padding: 0px;
	border: 0px;
	outline: none;
	background-color: rgba(240,243,244,1);
	float: left;
	border-top-left-radius:500px;
	border-bottom-left-radius:500px;
	padding-left: 15px;
	padding-right: 2px;
	font-size: 0.75rem;
	color: #555;
}
#header_search form #header_search-btn{
	width: 33px;
	height: 30px;
	padding: 0px;
	border: 0px;
	outline: none;
	background-color: rgba(240,243,244,1);
	border-top-right-radius:500px;
	border-bottom-right-radius:500px;
}
#header_search-btn i{
	font-size: 0.75rem;
	color: #58666e;
	line-height: 30px;
}
#header_container #header_userinfo{
	float: right;
	height: 100%;
	width: 224px;
	border: 1px #FFF solid;
}
#header_userinfo #header_userinfo-set{
	width: 46px;
	height: 100%;
	float: left;
	border: 1px #FFF solid;
}
#header_userinfo-set a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
#header_userinfo-set a i{
	font-size: 0.87rem;
	color: #FFF;
	line-height: 50px;
	width: 100%;
	text-align: center;
}
#header_userinfo #header_userinfo-email{
	width: 46px;
	height: 100%;
	float: left;
	border: 1px #FFF solid;
}
#header_userinfo-email a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
#header_userinfo-email a i{
	font-size: 0.87rem;
	color: #FFF;
	line-height: 50px;
	width: 100%;
	text-align: center;
}
#header_userinfo #header_userinfo-message{
	width: 46px;
	height: 100%;
	float: left;
	border: 1px #FFF solid;
}
#header_userinfo-message a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
#header_userinfo-message a i{
	font-size: 0.87rem;
	color: #FFF;
	line-height: 50px;
	width: 100%;
	text-align: center;
}
#header_userinfo #header_userinfo-login{
	width: 76px;
	height: 100%;
	float: right;
	border: 1px #FFF solid;
}
#header_userinfo-login a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
#header_userinfo-login a span{
	color: #FFF;
	display: inline-block;
	height: 100%;
	line-height: 50px;
	float: left;
	margin-left: 19px;
}
#header_userinfo-login a i{
	color: #FFF;
	display: inline-block;
	height: 100%;
	line-height: 50px;
	float: left;
	width: 14px;
	text-align: center;
}
aside{
	width: 200px;
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: #3a3f51;
	color: #a6a8b1;
	z-index: 99;
}
aside #aside_container{
	border: 1px red solid;
	width: 200px;
	position: fixed;
	top: 50px;
	bottom: 0;
	overflow: hidden;
}
#aside_container #aside_extend{
	width: 400px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}
#aside_extend>*{
	width: 200px;
}
#aside_container #aside_userinfo{
	text-align: center;
}
#aside_userinfo a:nth-child(1){
	display: inline-block;
	width: 96px;
	height: 96px;
	border-radius:500px;
	overflow: hidden;
	margin-top: 24px;
}
#aside_userinfo a:nth-child(1) span{
	display: inline-block;
	width: 100%;
	height: 100%;
}
#aside_userinfo a:nth-child(1) span #aside_userinfo-profilePhoto{
	display: inline-block;
	width: 100%;
}
#aside_userinfo a:nth-child(2){
	display: inline-block;
	width: 170px;
	color: #eaebed;
	margin-top: 10px;
	margin-bottom: 14px;
}
#aside_userinfo a:nth-child(2) span:nth-child(1){
	display: inline-block;
	width: 100%;
}
#aside_userinfo a:nth-child(2) span:nth-child(2){
	display: inline-block;
	width: 100%;
	color: #8b8e99;
	font-size: 0.625rem;
}
.aside_line{
	height: 1px;
	margin: 10px 0;
	background-color: #2e3344;
}
#aside_nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#aside_nav ul li{
	display: block;
}
#aside_nav ul .aside_nav-title{
	padding: 15px 15px 10px;
}
#aside_nav ul .aside_nav-title span{
	font-size: 0.75rem;
	color: #8b8e99;
}
#aside_nav ul li a{
	text-decoration: none;
	color: #b4b6bd;
	display: block;
	padding: 10px 20px;
}
#aside_nav ul li a i{
	font-size: 0.875rem;
	width: 28px;
}
#aside_nav ul li a span{
	font-size: 0.875rem;
}
#aside_nav ul li a .aside_nav-arrow{
	float: right;
}
#aside_nav ul li a .aside_nav-arrow i{
	font-size: 0.875rem;
	color: #8b8e99;
	width: 11px;
	text-align: center;
}
#aside_nav ul li a .aside_nav-arrow i:nth-child(2){
	display: none;
}
#aside_nav ul li .aside_nav-index1{
	display: none;
	background-color: #2e3344;
}
#aside_nav ul li .aside_nav-index1 li a{
	padding-left: 56px;
}
#aside_nav ul li .aside_nav-index1 li a span{
	font-size: 0.8rem;
}
#aside_nav ul li .aside_nav-index2{
	display: none;
	background-color: #333333;
}