html,body{
	width: 100%;
	height: 100%;
}
body{
	font: 0.75rem/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
	background: url("../imgs/bg.jpg") center center no-repeat fixed;
	margin: 0;
}
#layout{
	width: 1170px;
	min-height: 100%;
	/*background-color: rgba(240,243,244,1);*/
	margin: 0 auto;
	box-shadow: 0 0 30px rgba(0,0,0,.3);
}
header{
	height: 50px;
	position: fixed;
	top: 0;
	width: 1170px;
	z-index: 100;
}
header #home{
	float: left;
	display: inline-block;
	width: 200px;
	height: 100%;
	background-color: #7266ba;
	text-align: center;
}
#home #home_logo{
	display: inline-block;
	height: 100%;
	text-decoration: none;
	margin-left: 18px;
	float: left;
}
#home_logo i{
	font-size: 1.25rem;
	color: #FFF;
	line-height: 50px;
}
#home_logo span{
	font-size: 1rem;
	color: #FFF;
}
#home #home_aside-btn{
	display: inline-block;
	width: 30px;
	height: 30px;
	text-decoration: none;
	text-align: center;
	margin: 10px 5px;
	background-color: rgba(0,0,0,0.3);
	float: right;
}
#home_aside-btn i{
	font-size: 0.87rem;
	color: rgba(255,255,255,0.8);
	line-height: 30px;
}
header #header_container{
	height: 100%;
	margin-left: 200px;
	background-color: #FFF;
	box-shadow: 0 2px 2px rgba(0,0,0,.05), 0 1px 0 rgba(0,0,0,.05);
	position: relative;
}
#header_container #header_left>a,
#header_container #header_right>div>a{
	color: #58666e;
}
#header_container #header_left{
	float: left;
	height: 100%;
	width: 88px;
	margin-left: 15px;
}
#header_left #header_temp-btn,
#header_left #header_user-btn{
	display: inline-block;
	width: 44px;
	height: 100%;
	float: left;
}
#header_temp-btn i,
#header_user-btn i{
	font-size: 0.87rem;
	line-height: 50px;
	text-align: center;
	display: inline-block;
	width: 100%;
}
#header_container #header_search{
	float: left;
	width: 170px;
	margin-left: 15px;
	padding-top: 14px;
	padding-bottom: 14px;
}
#header_search #header_search-content{
	width: 144px;
	height: 22px;
	padding: 0px;
	border: 0px;
	outline: none;
	background-color: rgba(240,243,244,1);
	float: left;
	border-top-left-radius:500px;
	border-bottom-left-radius:500px;
	padding-left: 15px;
	padding-right: 2px;
	font-size: 0.75rem;
	color: #555;
}
#header_search #header_search-btn{
	width: 26px;
	height: 22px;
	padding: 0px;
	border: 0px;
	outline: none;
	background-color: rgba(240,243,244,1);
	border-top-right-radius:500px;
	border-bottom-right-radius:500px;
}
#header_search-btn i{
	font-size: 0.75rem;
	color: #58666e;
	line-height: 22px;
	margin-right: 3px;
}
#header_container #header_right{
	float: right;
	height: 100%;
	min-width: 250px;
}
#header_right #header_notification,
#header_right #header_message,
#header_right #header_setting{
	width: 46px;
	height: 100%;
	float: left;
}
#header_notification>a,
#header_message>a,
#header_setting>a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
#header_notification>a i,
#header_message>a i,
#header_setting>a i{
	font-size: 0.87rem;
	line-height: 50px;
	width: 100%;
	text-align: center;
}
#header_right #header_login{
	height: 100%;
	float: right;
	margin-left: 10px;
	margin-right: 20px;
}
#header_right #header_login>div{
	height: 100%;
	float: left;
}
#header_login #header_login-left{
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 500px;
	overflow: hidden;
	margin-top: 13px;
}
#header_login-left span{
	width: 100%;
	height: 100%;
}
#header_login-left span img{
	width: 100%;
}
#header_login #header_login-right{
	display: inline-block;
	height: 100%;
	color: #58666e;
}
#header_login-right span{
	display: inline-block;
	height: 100%;
	line-height: 50px;
	float: left;
	margin-left: 8px;
	margin-right: 6px;
}
#header_login-right i{
	display: inline-block;
	height: 100%;
	line-height: 50px;
	float: left;
}
aside{
	width: 200px;
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: #3a3f51;
	color: #a6a8b1;
	z-index: 99;
}
aside #aside_container{
	width: 200px;
	position: fixed;
	top: 50px;
	bottom: 0;
	overflow: hidden;
}
#aside_container #aside_wrap{
	overflow-x: hidden;
	overflow-y: scroll;
	width: 220px;
	height: 100%;
}
#aside_wrap>*{
	width: 200px;
}
#aside_container #aside_userinfo{
	text-align: center;
}
#aside_userinfo a:nth-child(1){
	display: inline-block;
	width: 96px;
	height: 96px;
	border-radius:500px;
	overflow: hidden;
	margin-top: 24px;
}
#aside_userinfo a:nth-child(1) span{
	display: inline-block;
	width: 100%;
	height: 100%;
}
#aside_userinfo a:nth-child(1) span #aside_userinfo-profilePhoto{
	display: inline-block;
	width: 100%;
}
#aside_userinfo a:nth-child(2){
	display: inline-block;
	width: 170px;
	color: #eaebed;
	margin-top: 10px;
	margin-bottom: 14px;
}
#aside_userinfo a:nth-child(2) span:nth-child(1){
	display: inline-block;
	width: 100%;
}
#aside_userinfo a:nth-child(2) span:nth-child(1) strong{
	padding-left: 6.86px;
}
#aside_userinfo a:nth-child(2) span:nth-child(2){
	display: inline-block;
	width: 100%;
	color: #8b8e99;
	font-size: 0.75rem;
}
.aside_line{
	height: 1px;
	margin: 10px 0;
	background-color: #2e3344;
}
#aside_container #aside_search{
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
	position: relative;
}
#aside_search i{
	font-size: 0.75rem;
	line-height: 30px;
	position: absolute;
	left: 16px;
}
#aside_search #aside_search-content{
	width: 200px;
	height: 30px;
	padding: 0px;
	border: 0px;
	outline: none;
	background-color: rgba(0,0,0,0.3);
	padding-left: 46px;
	padding-right: 2px;
	font-size: 0.75rem;
	color: #FFF;
}
#aside_nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#aside_nav ul li{
	display: block;
}
#aside_nav ul .aside_nav-title{
	padding: 16px 12px 10px;
}
#aside_nav ul .aside_nav-title span{
	font-size: 0.75rem;
	color: #8b8e99;
}
#aside_nav ul li a{
	display: block;
	text-decoration: none;
	padding: 9px 16px;
	color: #b4b6bd;
}
#aside_nav ul li a:hover{
	background-color: #2F3949 !important;
	color: #FFF;
}
#aside_nav ul li a>i{
	width: 30px;
	font-size: 0.875rem;
}
#aside_nav ul li a span{
	font-size: 0.875rem;
}
#aside_nav ul li a .aside_nav-arrow{
	float: right;
}
#aside_nav ul li a .aside_nav-arrow i{
	width: 11px;
	text-align: center;
	font-size: 0.875rem;
	color: #8b8e99;
}
#aside_nav ul li a .aside_nav-arrow i:nth-child(2){
	display: none;
}
#aside_nav .aside_nav-index1,
#aside_nav .aside_nav-index2{
	display: none;
}
#aside_nav .aside_nav-index1{
	background-color: #2e3344;
	padding-top: 8px;
	padding-bottom: 8px;
}
#aside_nav .aside_nav-index1 li a{
	padding-left: 46px;
	padding-top: 6px;
	padding-bottom: 6px;
}
#aside_nav .aside_nav-index1 li a>i{
	width: 20px;
	font-size: 0.8125rem;
}
#aside_nav .aside_nav-index1 li a span{
	font-size: 0.8125rem;
}
#aside_nav .aside_nav-index1 li a .aside_nav-arrow i{
	font-size: 0.8125rem;
}
#aside_nav .aside_nav-index2{
	background-color: #222738;
	padding-top: 8px;
	padding-bottom: 8px;
}
#aside_nav .aside_nav-index2 li a{
	padding-left: 66px;
	padding-top: 6px;
	padding-bottom: 6px;
}
#aside_nav .aside_nav-index2 li a>i{
	width: 20px;
}
#aside_nav .aside_nav-index2 li a span{
	
}
#aside_nav .aside_nav-index2 li a .aside_nav-arrow i{

}
aside>.aside_nav-index1,
aside>.aside_nav-index2{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 180px;
	background-color: #2e3344;
	position: fixed;
	overflow: auto;
}
aside>.aside_nav-index1 li,
aside>.aside_nav-index2 li{
	display: block;
}
aside>.aside_nav-index1 li a,
aside>.aside_nav-index2 li a{
	display: block;
	text-decoration: none;
	padding: 9px 14px;
	color: #b4b6bd;
}
aside>.aside_nav-index1 li a:hover,
aside>.aside_nav-index2 li a:hover{
	background-color: #2F3949 !important;
	color: #FFF;
}
aside>.aside_nav-index1 li a>i,
aside>.aside_nav-index2 li a>i{
	width: 28px;
	font-size: 0.8125rem;
}
aside>.aside_nav-index1 li a span,
aside>.aside_nav-index2 li a span{
	font-size: 0.8125rem;
}
aside>.aside_nav-index1 li a .aside_nav-arrow,
aside>.aside_nav-index2 li a .aside_nav-arrow{
	float: right;
}
aside>.aside_nav-index1 li a .aside_nav-arrow i,
aside>.aside_nav-index2 li a .aside_nav-arrow i{
	width: 11px;
	text-align: center;
	font-size: 0.8125rem;
	color: #8b8e99;
}
aside>.aside_nav-index1 li a .aside_nav-arrow i:nth-child(2),
aside>.aside_nav-index2 li a .aside_nav-arrow i:nth-child(2){
	display: none;
}
aside>.aside_nav-index1 .aside_nav-index2,
aside>.aside_nav-index2 .aside_nav-index3{
	display: none;
}
#content{
	margin-left: 200px;
	padding-top: 50px;
	background-color: #FFF;
}
#content #content_container{
	background-color: rgba(240,243,244,1);
	width: calc(100% - 241px);
	display: inline-block;
	min-height: 1000px;
	border-right: 1px #dee5e7 solid;
}
#content_container #content_alert{
	padding: 15px;
	background-color: #fcf8e3;
	border: 1px #faebcc solid;
}
#content_alert #content_alert-content{
	display: inline-block;
}
#content_alert-content i{
	color: #8a6d3b;
	margin-right: 2px;
}
#content_alert-content #content_alert-text{
	color: #8a6d3b;
}
#content_alert #content_alert-btn{
	float: right;
	padding: 0;
	border: 0;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	opacity: 0.2;
	line-height: 18px;
}
#content_container #content_header{
	padding: 20px;
	background-color: #f6f8f8;
	border-bottom: 1px #dee5e7 solid;
}
#content_header #content_header-title1{
	display: block;
	font-size: 1.5rem;
	font-weight: 300;
}
#content_header #content_header-title2{
	display: block;
	font-size: 0.8125rem;
	font-weight: 300;
	color: #98a6ad;
	letter-spacing: 1px;
}
#content_container #content_breadcrumb{
	margin-top: -1px;
}
.breadcrumb{
	list-style: none;
	margin: 0;
	padding: 0;
	border-top: 1px #dee5e7 solid;
	border-bottom: 1px #dee5e7 solid;
	padding: 8px 20px;
	background-color: #FFFAFA;
}
.breadcrumb li{
	display: inline-block;
}
.breadcrumb>li+li:before{
	padding: 0 5px;
	color: #ccc;
	content: "/\00a0";
}
.breadcrumb li a{
	text-decoration: none;
	color: #98a6ad;
}
#content_container #content_main{
	padding: 20px 25px;
}
#content_posts .content_post-1{
	background-color: #FFF;
	margin-bottom: 20px;
	border: 1px #EEE solid;
}
#content_posts .content_post-1 .content_post-top{
	max-height: 260px;
	overflow: hidden;
	margin-bottom: 26px;
}
#content_posts .content_post-1 .content_post-top a{
	display: block;
}
#content_posts .content_post-1 .content_post-top a img{
	display: block;
	width: 100%;
}
#content_posts .content_post-1 .content_post-bottom{
	padding: 20px;
}
#content_posts .content_post-1 .content_post-bottom h2{
	font-size: 1.625rem;
	font-weight: 300;
	line-height: 1.1;
	margin: 0;
}
#content_posts .content_post-1 .content_post-bottom h2 a{
	text-decoration: none;
	color: #9ea7b3;
}
#content_posts .content_post-1 .content_post-bottom p{
	font-size: 0.8125rem;
	line-height: 1.6;
	margin: 20px 0;
	color: #9ea7b3;
}
#content_posts .content_post-1 .content_post-bottom div{
	display: inline-block;
	float: right;
}
#content_posts .content_post-1 .content_post-bottom div a{
	text-decoration: none;
	color: #dcf2f8;
	background-color: #23b7e5;
	padding: 0.125rem 0.4375rem;
	border-radius: 0.25rem;
	display: inline-block;
}
#content_posts .content_post-1 .content_post-bottom ul{
	list-style: none;
	margin: 0;
	padding: 0;
	height: 22px;
}
#content_posts .content_post-1 .content_post-bottom ul li{
	float: left;
	margin-right: 6px;
	line-height: 22px;
}
#content_posts .content_post-1 .content_post-bottom ul li a{
	text-decoration: none;
	color: #0DB8DF;
	font-size: 0.8125rem;
}
#content_main #content_posts-pagination{
	height: 32px;
	margin: 40px 0 20px;
}
.pagination{
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	float: right;
}
.pagination li{
	float: left;
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px #DDD solid;
	background-color: #FFF;
	margin-left: -1px;
}
.pagination li a{
	text-decoration: none;
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 30px;
	color: #23b7e5;
}
.pagination li:hover{
	background-color: #F5F5F5;
}
.pagination .active{
	background-color: #23b7e5;
}
.pagination .active a{
	color: #FFF;
}
.pagination .active:hover{
	background-color: #23b7e5;
}
.pagination .disabled{
	background-color: #F5F5F5;
}
.pagination .disabled a{
	cursor: default;
}
.pagination .disabled:hover{
	background-color: #F5F5F5;
}
.pagination li:first-child{
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}
.pagination li:last-child{
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}
#content_main #content_post-1{
	background-color: #FFF;
	margin-bottom: 20px;
	border: 1px #EEE solid;
}
#content_post-1 .content_post-top{
	max-height: 260px;
	overflow: hidden;
	margin-bottom: 26px;
}
#content_post-1 .content_post-top a{
	display: block;
}
#content_post-1 .content_post-top a img{
	display: block;
	width: 100%;
}
#content_post-1 .content_post-bottom{
	padding: 20px;
}
#content_post-1 .content_post-bottom h2{
	font-size: 1.625rem;
	font-weight: 300;
	line-height: 1.1;
	margin: 0;
}
#content_post-1 .content_post-bottom h2 a{
	text-decoration: none;
	color: #9ea7b3;
}
#content_post-1 .content_post-bottom .text{
	font-size: 0.8125rem;
	line-height: 1.6;
	margin: 20px 0;
	color: #9ea7b3;
}
#content_post-1 .content_post-bottom .tag{
	display: inline-block;
	float: right;
}
#content_post-1 .content_post-bottom .tag a{
	text-decoration: none;
	color: #dcf2f8;
	background-color: #23b7e5;
	padding: 0.125rem 0.4375rem;
	border-radius: 0.25rem;
	display: inline-block;
}
#content_post-1 .content_post-bottom ul{
	list-style: none;
	margin: 0;
	padding: 0;
	height: 22px;
}
#content_post-1 .content_post-bottom ul li{
	float: left;
	margin-right: 6px;
	line-height: 22px;
}
#content_post-1 .content_post-bottom ul li a{
	text-decoration: none;
	color: #0DB8DF;
	font-size: 0.8125rem;
}
#content_post-1 .content_post-bottom hr{
	margin: 20px 0;
	border: 0;
	border-top: 1px #EEE solid;
}
#content_post-1 .content_post-bottom button{
	padding: 6px 12px;
	border: 0px;
	outline: none;
	background-color: #65C3DF;
	color: #FFF;
	border-radius: 4px;
	font-size: 0.75rem;
	cursor: pointer;
	float: right;
}
#content_main #content_post-pager{
	height: 30px;
	margin: 40px 0 20px;
}
.pager{
	margin: 0;
	padding: 0;
	list-style: none;
}
.pager li{
	display: inline;
}
.pager li a{
	display: inline-block;
	padding: 5px 14px;
	background-color: #FFF;
	border: 1px #ddd solid;
	border-radius: 15px;
	text-decoration: none;
	color: #428bca;
}
.pager .previous a{
	float: left;
}
.pager .next a{
	float: right;
}
.pager .disabled a{
	color: #777;
}
#content_main #content_comments{
	padding: 20px;
	background-color: #FFF;
	border: 1px #EEE solid;
}
#content_comments #content_comments-top{
	margin-bottom: 20px;
}
#content_comments-top h2{
	font-weight: 300;
	font-size: 1.125rem;
	margin: 0 0 20px;
	color: #9ea7b3;
}
#content_comments-top form textarea{
	display: block;
	box-sizing: border-box;
	width: 100%;
	min-height: 66px;
	padding: 5px 10px;
	border: 1px #e5e9ef solid;
	resize: vertical;
	outline: none;
	margin-bottom: 13px;
}
#content_comments-top form input{
	box-sizing: border-box;
	width: 29%;
	height: 26px;
	padding: 0 6px;
	border: 1px #e5e9ef solid;
	outline: none;
}
#content_comments-top form button{
	padding: 6px 12px;
	border: 0px;
	outline: none;
	background-color: #65C3DF;
	color: #FFF;
	border-radius: 4px;
	font-size: 0.75rem;
	cursor: pointer;
	float: right;
}
#content_comments-bottom h2{
	font-weight: 300;
	font-size: 1.125rem;
	margin: 0 0 20px;
	color: #9ea7b3;
}
.comment-list{
	list-style: none;
	margin: 0;
	padding: 0;
}
.comment-list .comment{
	margin-bottom: 10px;
}
.comment-list .comment .comment{
	margin-top: 10px;
	margin-bottom: 0;
}
.comment-list .comment-left{
	display: inline-block;
	float: left;
}
.comment-list .comment-left a{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}
.comment-list .comment-left a img{
	width: 100%;
}
.comment-list .comment-body{
	margin-left: 56px;
}
.comment-list .comment-body h5{
	margin: 0;
	font-size: 0.75rem;
	color: #6d757a;
}
.comment-list .comment-body p{
	color: #58666e;
	margin: 10px 0;
}
.comment-list .comment-info{
	color: #99a2aa;
}
.comment-list .comment-info>span{
	margin-right: 20px;
}
.comment-list .comment-like,
.comment-list .comment-hate,
.comment-list .comment-reply,
.comment-list .comment-operation{
	cursor: pointer;
}
.comment-list .comment-operation{
	display: inline-block;
	float: right;
	width: 18px;
	text-align: center;
}
.comment-list-pagination{
	height: 32px;
	margin: 40px 0 20px;
}
#content #content_aside{
	width: 240px;
	float: right;
	background-color: #FFF;
}
#content_aside #content_aside-time{
	height: 76px;
}
#content_aside-time #content_aside-time-countdown{
	font-size: 1.5rem;
	display: block;
	text-align: center;
	line-height: 76px;
	color: #98a6ad;
	display: none;
}
#content_aside-time #content_aside-time-clock{
	font-size: 1rem;
	display: block;
	text-align: center;
	line-height: 76px;
	color: #98a6ad;
	/*display: none;*/
}
#content_aside-tabs #content_aside-tabs-top{
	height: 58px;
}
#content_aside-tabs-top ul{
	margin: 0;
	padding: 0;
	list-style: none;
	height: 100%;
}
#content_aside-tabs-top ul li{
	display: block;
	width: 80px;
	height: 100%;
	float: left;
}
#content_aside-tabs-top ul li a{
	display: inline-block;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	border: 1px #FFF solid;
	border-top: 1px #dee5e7 solid;
	border-bottom: 1px #dee5e7 solid;
	text-align: center;
}
#content_aside-tabs-top ul li a i{
	font-size: 1rem;
	line-height: 56px;
	color: #98a6ad;
}
#content_aside-tabs-bottom>div{
	padding: 20px;
	display: none;
}
#content_aside-tabs-bottom>div>span{
	font-size: 1rem;
	color: #58666e;
	display: block;
	margin-bottom: 10px;
}
#content_aside-tabs-bottom>div>ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
#content_aside-tabs-bottom>div>ul>li{
	display: block;
	padding: 10px 0px;
}
#content_aside-tabs-bottom>div>ul>li>a{
	display: inline-block;
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50%;
	float: left;
	margin-right: 16px;
}
#content_aside-tabs-bottom>div>ul>li>a>img{
	width: 100%;
}
#content_aside-tabs-bottom>div>ul>li>div{
	display: inline-block;
	width: 144px;
	min-height: 40px;
}
#content_aside-tabs-bottom .content_aside-tabs-articleTitle{
	display: block;
	text-decoration: none;
}
#content_aside-tabs-bottom .content_aside-tabs-articleTitle span{
	font-size: 0.875rem;
	color: #58666e;
	display: block;
}
#content_aside-tabs-bottom .content_aside-tabs-articleInfo>span{
	display: inline-block;
	color: #98a6ad;
}
#content_aside-tabs-bottom .content_aside-tabs-viewNum{
	margin-left: 10px;
}
#content_aside-tabs-bottom .content_aside-tabs-commentAuthor{
	display: block;
	text-decoration: none;
}
#content_aside-tabs-bottom .content_aside-tabs-commentAuthor span{
	font-size: 0.875rem;
	color: #58666e;
	display: block;
}
#content_aside-tabs-bottom .content_aside-tabs-commentText{
	display: block;
	text-decoration: none;
}
#content_aside-tabs-bottom .content_aside-tabs-commentText span{
	font-size: 0.8125rem;
	color: #98a6ad;
	display: block;
}
#content_aside #content_aside-category{
	height: 300px;
	/*border: 1px green solid;*/
}
#content_aside #content_aside-tagCloud{
	padding: 20px;
}
#content_aside-tagCloud span{
	font-size: 1rem;
	color: #58666e;
	display: block;
	margin-bottom: 10px;
}
#content_aside-tagCloud div a{
	text-decoration: none;
	color: #dcf2f8;
	background-color: #23b7e5;
	padding: 0.125rem 0.4375rem;
	border-radius: 0.25rem;
	display: inline-block;
	margin: 3px auto;
}
footer{
	margin-left: 200px;
	height: 40px;
	background-color: #edf1f2;
	border-top: 1px #dee5e7 solid;
}
footer div{
	height: 100%;
}
footer div span{
	line-height: 40px;
	margin-left: 30px;
	color: #58666e;
}
#panel{
	position: fixed;
	top: 120px;
	right: -242px;
	width: 240px;
	background-color: #FFF;
	border: 1px #dee5e7 solid;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
#panel #panel_btn{
	position: absolute;
	top: -1px;
	left: -42px;
	width: 42px;
	height: 42px;
	border: 1px #dee5e7 solid;
	border-right-color: transparent;
	border-radius: 2px;
	box-shadow: none;
	outline: none;
	padding: 0;
	background-color: #f6f8f8;
	font-size: 0.875rem;
	color: #58666e;
}
#panel_btn i{
	line-height: 40px;
}
#panel #panel_header{
	height: 40px;
	background-color: #f6f8f8;
	border-radius: 2px 2px 0 0;
	border-bottom: 1px #edf1f2 solid;
	font-size: 0.875rem;
	color: #333;
}
#panel_header span{
	line-height: 40px;
	padding-left: 15px;
}
#panel_header #panel_btn-0{
	float: right;
	padding: 0;
	border: 0;
	outline: none;
	width: 60px;
	height: 22px;
	margin-top: 9px;
	margin-right: 15px;
	border-radius: 50px;
	background-color: #7CCD7C;
	color: #FFF;
	font-size: 0.75rem;
}
#panel #panel_body{
	padding: 15px;
}
#panel_body div{
	height: 30px;
}
#panel_body div span{
	display: inline-block;
	line-height: 30px;
	font-size: 0.875rem;
	color: #58666e;
}
#panel_body .panel_toggle{
	float: right;
	height: 30px;
}
#panel_body .panel_toggle i{
	font-size: 30px;
}
#panel_body .panel_toggle i:nth-child(1){
	color: #dcf2f8;
}
#panel_body .panel_toggle i:nth-child(2){
	color: #23b7e5;
	display: none;
}
#panel_body #panel_btn-header i:nth-child(1),
#panel_body #panel_btn-sidebar i:nth-child(1),
#panel_body #panel_btn-box i:nth-child(1){
	color: #dcf2f8;
	display: none;
}
#panel_body #panel_btn-header i:nth-child(2),
#panel_body #panel_btn-sidebar i:nth-child(2),
#panel_body #panel_btn-box i:nth-child(2){
	color: #23b7e5;
	display: inline-block;
}
#panel #theme_container{
	padding: 15px;
	background-color: #f6f8f8;
	border-top: 1px #edf1f2 solid;
	border-radius: 0 0 2px 2px;
	height: 240px;
}